<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Seq.Client.NLog"/>
  </extensions>
  
  <targets>
    
    <target name="seq" xsi:type="Seq" serverUrl="http://my-seq" apiKey="GsAOpnpFbDeYMuBMZ9Dx">
      <property name="ThreadId" value="${threadid}" as="number" />
      <property name="MachineName" value="${machinename}" />
    </target>
    
    <target name="console" xsi:type="Console" />
  
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="seq" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>