version: 2.3.{build}
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}.0'
  assembly_file_version: '{version}.0'
  assembly_informational_version: '{version}'
before_build:
- cmd: nuget restore 
build:
  project: seq-client.sln
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: b3i23DhBy6JPnMtcltSIUNiO0AdxQGMndYBFe4pMdeRY79oHbBnGEI5aQfqiEebC
  on:
    branch: master
