version: '{build}'
skip_tags: true
image: Visual Studio 2019
install:
  - ps: mkdir -Force ".\build\" | Out-Null 
  - ps: nuget update -Self
build_script:
- ps: ./Build.ps1
test: off
artifacts:
- path: artifacts/Seq.Client.Log4Net.*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: b3i23DhBy6JPnMtcltSIUNiO0AdxQGMndYBFe4pMdeRY79oHbBnGEI5aQfqiEebC
  on:
    branch: /^(master|dev)$/
- provider: GitHub
  auth_token:
    secure: hX+cZmW+9BCXy7vyH8myWsYdtQHyzzil9K5yvjJv7dK9XmyrGYYDj/DPzMqsXSjo
  artifact: /Seq.Client.Log4Net.*\.nupkg/
  tag: v$(appveyor_build_version)
  on:
    branch: master
