<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="SeqAppender" type="Seq.Client.Log4Net.SeqAppender, Seq.Client.Log4Net" >
    <bufferSize value="1" />
    <serverUrl value="https://localhost:44381/" />
    <apiKey value="rFNtPWpMF2i05qgm3sB6" />
    <parameter>
      <parameterName value="Par1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Val1"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="Par2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Val2"/>
      </layout>
    </parameter>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="SeqAppender" />
  </root>
</log4net>
